

.img-slide {
    width: 100px;
    height: 80px;
    }
.custom-img {
    height: 400px;
    width: 100vw;
}
.carousel-inner{
    /* height: 80vw; */
    /* width: 100vw; */
}

.carousel-item img{
    /* height: 80vh; */
}
